#travesty_logo {
    position: absolute;
    top: 1vmin;
    right: 1vmin;
    width: 10vmin;
}

header {
    pointer-events: none;
}

header > a > img {
    pointer-events: auto;
    display: block;
    margin: 1vmin auto 1.5vmin auto;
    width: 25vmin;
    border-bottom: 0.25vmin solid rgb(0, 0, 0);
    border-radius: 0.75vmin;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 1.5vmin 0;
    font-size: 1.5vmin;
    border-bottom: 0.25vmin solid rgb(0, 0, 0);
    border-radius: 0.75vmin;
}

nav div {
    display: inline;
}

nav a {
    pointer-events: auto;
    text-decoration: underline;
    color: black;
}

#welcome_nav {
    font-size: 1.8vmin;
}

main {
    font-size: 1.5vmin;
    margin: 2vmin 0 0 0;
}

.main_container_row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.main_container_column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.main_container_column h3,
.main_container_column p {
    text-align: center;
}

.character_container {
    min-width: 20vmin;
    max-width: 35vmin;
    word-wrap: break-word;
    margin: 0 2vmin 0 0;
    padding: 1vmin;
    border: 0.2vmin solid black;
    border-radius: 5vmin;
}

.character_text_container > h3 {
    text-align: center;
}

.character_stat_container {
    display: flex;
    justify-content: space-between;
}

.character_container > form {
    display: flex;
    justify-content: center;
    margin: 0 0 1vmin 0;
}

.character_container > form > button {
    font-size: 1.5vmin;
    width: 15vmin;
    border-radius: 5vmin;
}

progress {
    width: 230px;
}

#signUpButton {
    color: red;
    pointer-events: none;
}

/* main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
} */
/* 
.all_characters {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
} */

/* #flex_column {
    display: flex;
    flex-direction: column;
} */

/* .form_gap > div {
    margin: 0.3vmin;
} */

/* .main_container {
    display: flex;
    margin: 1vh;
    padding: 1vmin;
    border: 0.2vmin solid black;
    display: inline-block;
    font-size: 1.5vmin;
    min-width: 15vmin;
} */

/* .main_container button {
    padding: 0.5vmin;
    margin: 0 0 0.5vh 0;
    border-radius: 0.5vmin;
    background-color: rgba(116, 116, 116, 0.308);
    border-color: rgb(255, 255, 255);
    font-size: 1.5vmin;
} */

/* .character_stat_container {
    display: flex;
    justify-content: space-between;
} */

/* .character_text_container p,
form,
h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

/* .centered {
    display: flex;
    justify-content: center;
} */

/* .error {
    padding-bottom: 1.5vh;
} */

/* .character_form {
    min-width: 30vmin;
} */

/* .character_form div {
    margin: 0 0 1vmin 0;
} */

/* .character_form input {
    float: right;
} */

/* .learn_the_basics p,
h3 {
    font-size: 1.5vmin;
    width: 80%;
    margin: 0 auto;
    padding: 1vmin 0 0 0;
} */
