{% extends 'base.html' %}
{% block content %}
{% if session.get('user_id') %}
<section class="all-characters">
    {% for character in character_items %}
    <div class="character_main_container">
        <h3>{{character['name']}}</h3>
        <div class="character_text_container">
            <p>Facet 1: {{character['facet_one']}} Facet 2: {{character['facet_two']}}</p>
            <p>Advantage 1: {{character['advantage_one']}} Advantage 2: {{character['advantage_two']}}</p>
            <p>Utility 1: {{character['utility_one']}} Utility 2: {{character['utility_two']}}</p>
        </div>
    </div>
    {% endfor %}
</section>
{% else %}
{% endif %}
{% endblock content %}