{% extends "base.html" %}
{% block content %}
<div class="main_container_column">
    <h3>Who Are You?</h3>
    <p>In Jaunt, you are an interdimensional traveller known as a jaunter. You and your companions have acquired a jauntbox – a device capable of creating stable transit through the omniverse. You use this jauntbox to journey to alternate realities. There are some common reasons for groups to band together around a jauntbox 
    <br>- Chasing the endless frontier: many jaunters are simply explorers. As the omniverse is theoretically limitless, there will always be new worlds and experiences. 
    <br>- Omniversal rogues: seeking to exploit the differences between realities for their own gain. 
    <br>- Travelling heroes: every reality has something wrong with it. No one can fix the entire omniverse, but being able to make a difference here and there is still worth the effort for those who benefit. 
    <br>One common thread for the majority of jaunters is their fringe status. Whether or not they were once esteemed members of their native community, now they lead disconnected lives, constantly ‘on the road’. ‘Law’, such as it may be determined across the scope of the omniverse, frowns upon unsanctioned jaunting. There’s a reason for that: jaunt too much with reckless abandon, and you’ll place whole realities at risk. The Containment Corps is an omniversal agency tasking itself with monitoring quantum travel – most jaunters have stories of their run-ins with the CC, none of them pleasant. Keeping one step ahead of them will be a regular priority.</p>
    <h3>Jaunting 101</h3>
    <p>In Jaunt, you’ll encounter parallel versions of those you know and love, strange cultures, alternate timelines, and people filled with all kinds of crazy. How you respond to the trouble you’ll inevitably find yourself in is an open prospect. A well-timed insult can be as
    effective at stopping a belligerent foe in their tracks as a sword or bullet.</p>
</div>
{% endblock content %}